body {
  background-image:url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
h1{
  font-family:'Times New Roman', Times, serif;
  text-shadow: 2px 2px;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: line-through;
}
h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p.two {
  border: 7px solid black;
  border-radius: 10px;
  padding: 20px;
  font-family: "Brush Script MT", cursive;
}