#kev1{
    background-image: conic-gradient(red,yellow,green);
}



#kev2{
    background-image: conic-gradient(rgb(0, 183, 255),rgb(0, 255, 170),rgb(68, 128, 0));
}



#kev3{
    background-image: conic-gradient(rgb(255, 0, 255),rgb(0, 140, 255),rgb(0, 45, 128));
}


#kev4{
    background-image: conic-gradient(rgb(0, 255, 42),rgb(111, 0, 255),rgb(207, 125, 125));
}




