#kev1{
    background-image: conic-gradient(red,yellow,green);
}



#kev2{
    background-image: conic-gradient(rgb(0, 255, 98),rgb(76, 0, 255),rgb(128, 0, 0));
}



#kev3{
    background-image: conic-gradient(rgb(255, 0, 255),rgb(0, 140, 255),rgb(128, 0, 0));
}


#kev4{
    background-image: conic-gradient(rgb(0, 255, 42),rgb(111, 0, 255),rgb(128, 0, 0));
}




